@font-face {
    font-family: cdBold;
    src:url("../src/CaviarDreams_Bold.ttf");
}
@font-face {
    font-family: cd;
    src:url("../src/CaviarDreams.ttf");
}

html {
    scroll-behavior: smooth;
}
nav {
    margin: 30px;
    width: 18vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: rgb(20, 20, 20);
    position: fixed;
    top: 0;
}
a {
    color: white;
}
.nav_item{
    transition: 0.2s;
    cursor: pointer;
}
.nav_item:hover{
    color: orange;
}
.nav_item a {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 1em;
    font-family: cd;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    font-family: cd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
#hr_div {
    width: 100vw;
}
.body_gradient {
    height: 15vh;
    /* background-size: 100vw 10vh; */
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(10,10,10,1) 40%, rgba(0,0,0,0) 100%);
}
.title_card {
    width: 100vw;
    height: 85vh;
}
#black_sand{
    width: 100vw;
    height: 85vh;
    background-image: url("../src/img/black_sand.jpg");
    background-size: 100vw;
    filter: brightness(0.5);
    position: absolute;
    z-index: -1;
}
.centered_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.centered_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.boxes {
    width: 50vw;
    min-height: 25vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 20px;
}
.large_height {
    height: 75vh;
}
.mid_height {
    height: 50vh;
}
.small_height {
    height: 25vh;
}

.tech {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.0);
    border-style: solid;
    margin: 5px;
    width: 30%;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 0.24);
    /* background: rgb(191,102,0);
    background: linear-gradient(90deg, rgba(191,102,0,0.6250700963979341) 0%, rgba(147,86,86,0.1964986678265056) 100%);  */
    transition: 0.25s;
    cursor: pointer;
}
.tech:hover {
    background-color: rgba(126, 126, 126, 0.24);
    transition: 0.25s;
}
.tech_icon {
    width: 75px;
    height: 75px;
    margin: 4px;
    /* background-color: aqua; */
}
.tech_svg {
    width: 75px;
    height: 75px;
}
.svg_white {
    filter: invert(1);
}
.tech_text {
    margin: 0;
    line-height: 0.5em;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */

}

.title {
    font-size: 3em;
    text-align: center;
}
.title span {
    text-align: center;
}

.orange {
    color: orange;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.project_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}
.project_img {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.project_img img {
    /* width: 300px; */
    height: 250px;
    object-fit: cover; /* Crop the image to fit */
}
.project_text{
    width: 400px;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45vw;
}
#contact_article {
    /* background-color: rgb(20, 20, 20); */
}
.contact_pill {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 20px;
}
.contact_pill hr{
    width: 90%;
}
@media (max-width: 480px) {
    nav {
        width: 90vw;
    }
    #black_sand{
        /* width: 100vw; */
        height: 85vh;
        background-size: 1920px 1080px;
        filter: brightness(0.5);
        position: absolute;
        z-index: -1;
    }
    .centered_col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .centered_row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .boxes {
        width: 95vw;
    }
    .tech {
        width: 90vw;
    }
    .project_container{
        flex-direction: column;
    }
    .project_text{
        width: 85vw;
    }
    .contact_pill {
        width: 95vw;
    }
    .contact {
        width: 95%;
        flex-direction: column;
    }
    .mid_height {
        height: 90vh;
    }
}